# Python
__pycache__/
*.py[cod]
*.so

# Jupyter
.ipynb_checkpoints/

# Virtual environments
venv/
env/
.venv/

# macOS
.DS_Store

# VS Code
.vscode/

# Python environment
*.egg-info/

# Large ML files
*.h5
*.keras
*.ckpt
